extends layout

block scripts
  script(src="/javascripts/index.js")
  script(src='tabulator-tables/dist/js/tabulator.js')
  link(rel='stylesheet', href='tabulator-tables/dist/css/tabulator.css')

block content
  <div id="example-table"></div>