doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="jquery/dist/jquery.js") 
    script(src="bootstrap/dist/js/bootstrap.min.js") 
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
    block scripts

  body
    block content
